@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    font-family:'Poppins', sans-serif;
    background-color: lightgray;
}

.wrapper{
    height: 2500px;
    width: 2000px;
    padding: 25px;
    background: aliceblue;
    border-radius: 10px;
}


.cards, .card, .view {
    display: flex;
    align-items: center;
    justify-content: center;
}
.cards {
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cards .card {
    cursor: pointer;
    /* list-style: none;
    user-select: none; */
    position: relative;
    perspective: 800px;
    transform-style: preserve-3d;
    height: calc(100%/ 5);
    width: calc(100% /5);
    justify-content: space-between;
}

 .cards, .card, .view {
    width: 100%;
    height: 100%;
    position: absolute;
    background: aliceblue;
    border-radius: 7px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    transition: transform 0.50s linear;
}


.card:hover .front-view {
    transform: rotateY(-180deg);
}

.card .back-view img{
    max-width: 150px;
    max-height: 150px;
}


.card:hover .back-view {
    transform: rotateY(0deg);
}









table {
    width: 100%;
    font-size: 50px;
}

.thead {
    font-size: 100px;
}


#short_vowels {
    align-content: center;

}

button {
    flex: 1 1 auto;
    margin: 10px;
    padding: 50px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color:aliceblue;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    font-family:'Poppins', sans-serif;
    background-color:#f308f3;
    animation: pulse 1s;
    box-shadow: 0 0 0 2em transparent;
    background-image: linear-gradient(to right, #bc52c5 0%, #6e0e6a 51%, #cf72e2 100%);
    font-size: large;
}

button:hover{
    background-position: right center;
}

