@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 25px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    font-family:'Poppins', sans-serif;
    background-color: lightgray;
}

.wrapper{
    height: 4000px;
    width:1500px;
    /* padding: 25px; */
    background: aliceblue;
    border-radius: 10px;

}

h1{
    font-size: 100px;
    max-width: 150px;
    justify-content: center;
}

.material-icons {
    font-size: 150px;
}
.cards .card .view {
    display: row;
    align-items: center;
    justify-content: center;
}
.cards {
    height: 75%;
    width: 75%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cards .card {
    cursor: pointer;
    height: calc(75%/ 4  -10px);
    width: calc(100% /4 -10px);
}

.cards .card .view {
    width: 50%;
    height: 50%;
    background: white;
    border-radius: 7px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}
.card .front-view {
    display: none;
}

.card .back-view img {
    max-width: 150px;
}

img {
    width: 150px;
    height: 150px;
}

table {
    width: 100%;
    font-size: 50px;
}

.thead {
    font-size: 100px;
}


#short_vowels {
    align-content: center;

}

button {
    flex: 1 1 auto;
    margin: 10px;
    padding: 50px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color:aliceblue;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    font-family:'Poppins', sans-serif;
    background-color:#f308f3;
    animation: pulse 1s;
    box-shadow: 0 0 0 2em transparent;
    background-image: linear-gradient(to right, #bc52c5 0%, #6e0e6a 51%, #cf72e2 100%);
    font-size: large;
}

button:hover{
    background-position: right center;
}

